// font-sizing
$h1-size: 2.986rem;
$h2-size: 2.488rem;
$h3-size: 2.074rem;
$h4-size: 1.728rem;
$body-size: 1rem;
$small-size: 0.833rem;
$xsmall-size: 0.694rem;

// font-weights

$subh-weight: 300;
$bold: 700;
$xbold: 800;

// font-family
$fonts: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
